.addAndEditContactHeader {
    display: flex;
    height: 594px;
    gap: 12px;
    flex-shrink: 0;
    background-color: #2a3647;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.displayNone {
    display: none;
}

h1 {
    margin: 0;
    color: white;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
}

h2 {
    margin: 0;
    color: white;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 16px;
}

.logo {
    position: absolute;
    width: 55.6px;
    height: 66.483px;
    margin-top: 154px;
    margin-left: 46.9px;
}

.vector5 {
    width: 90px;
}

.headline {
    padding: 66px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 66px 48px;
}


.addAndEditContactMainContainer {
    display: flex;
    align-items: center;
    width: 1212px;
    height: 592px;
    background-color: rgba(0, 0, 0, 0.3);
}

.createContactContainer {
    display: flex;
    background: #FFF;
    height: 592px;
}

.contactImage {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 83px;
    margin-top: 204px;
}



.createContact {
    display: flex;
    flex-direction: column;
    padding-left: 72px;
    padding-right: 48px;
    padding-top: 48px;
}

.closeButton {
    border: 0;
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}

.inputContainer {
    margin-top: 57px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}



.icons {
    width: 24px;
    height: 24px;
    padding-right: 21px;
}


.createContactButton {
    display: flex;
    gap: 24px;
}

.cancelBTN {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    background-color: #FFF;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #2A3647;
}

.cancelBTN:hover {
    border: 2px solid var(--Ligth-blue, #29ABE2);
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cancelBTN:hover svg path {
    stroke: #29ABE2;
}


.createBTN {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 0;
    border-radius: 10px;
    background: #2A3647;
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.createBTN:hover {
    background: var(--Ligth-blue, #29ABE2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input {
    width: 380px;
    height: 24px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 13px 21px;
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

input:focus {
    outline: none;
    border: 1px solid var(--Ligth-blue, #29ABE2);
}

input :placeholder-shown {
    color: #D1D1D1;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.iconName {
    background-image: url('img/addContact/personInput.png');
}

.iconMail {
    background-image: url('img/addContact/mail.png');
}

.iconPhone {
    background-image: url('img/addContact/call.png');
}

.icon{
    display: unset;
}

.iconWhite {
    display: none;
}

@media screen and (max-width: 700px) {
    .addAndEditContactMainContainer {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .addAndEditContactHeader {
        display: flex;
        height: 351px;
        width: 100%;
        gap: 12px;
        flex-shrink: 0;
        background-color: #2a3647;
        border-bottom-left-radius: unset;
        border-top-right-radius: 30px;
    }

    h1 {
       
        margin-bottom: 16px;
        font-size: 47px;
    }

    h2 {
        font-size: 20px;
    }

    .logo {
        display: none;
    }

    .vector5 {
        width: 90px;
    }

    .headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 66px 24px;
    }

    .createContactContainer {
        height: unset;
        width: 100%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .contactImageContainer {
        position: fixed;
        display: flex;
        justify-content: center;
        margin: 0;
        top: 292px;
        width: 100%;
    }
    .contactImage{
    margin: 0;
    }
    .contactImage img{
        height: 120px;
        width: 120px;
    }

    .createContact {
        padding: 0;
        width: 100%;
        align-items: center;
    }

    .closeButton {
        border: 0;
        background-color: #FFF;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .iconWhite {
        display: unset;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 9999;
        color: white;
        width: 24px;
            height: 24px;
    }

    .icon{
        display: none;
    }

    .inputContainer {
        width: 100%;
        align-items: center;
        margin-top: 92px;
    }

    .icons {
        width: 24px;
        height: 24px;
        padding-right: 21px;
    }

    .createContactButton {
        margin-bottom: 80px;
    }

    input {
        width: 322px;
    }

    

   

}