body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    display: flex;
    height: 594px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    background-color: #2a3647;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

h1 {
    margin: 0;
    color: white;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
}

h2 {
    margin: 0;
    color: white;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 16px;
}

.logo {
    width: 55.6px;
    height: 66.483px;
    margin-bottom: 12.02px;
    margin-left: 1.1px;
}

.vector5 {
    width: 90px;
}

.headline {
    padding: 66px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 66px 48px;
}


.addContactMainContainer {
    display: flex;
    width: 1212px;
    height: 592px;
    background: #FFF
}

.createContactContainer {
    display: flex;
}

.contactImage {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 83px;
    margin-top: 204px;
}

.createContact {
    display: flex;
    flex-direction: column;
    margin-left: 72px;
    margin-right: 48px;
    margin-top: 48px;
}

.closeButton {
    border: 0;
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.closeButton img {
    width: 24px;
    height: 24px;
}

.inputContainer {
    margin-top: 57px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input {
    display: flex;
    width: 422px;
    padding: 13px 21px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
}

.icons {
    width: 24px;
    height: 24px;
}

.input :placeholder-shown {
    color: #D1D1D1;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.createContactButton {
    display: flex;
    gap: 24px;
}

.cancelBTN {
    font-family: 'Inter', sans-serif;
    background-color: #FFF;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--version-2-main-color, #2A3647);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #2A3647;
}

.createBTN {
    font-family: 'Inter', sans-serif;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2A3647;
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

input {
    border: 0;
    width: 100%;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}