/* Board */

.board-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    font-size: xx-large;
}

.board-find-add-container {
    display: flex;
}

.board-searchbar {
    display: flex;
    height: 20px;
    width: 200px;
    border: solid 1px grey;
    border-radius: 4px;
    padding: 8px;
    margin-right: 20px;
}

.board-searchbar input{
    background-color: transparent;
    border: none;
    font-size: large;
}

.board-searchbar button {
    background-color: transparent;
    border: none;
    font-size: large;
}

.board-task-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    
}

.board-task-header{
    color: #2A3647;
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.board-task-group{
    width: 20%;
}

.board-task {
    border: dashed 1px #2A3647;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    justify-content: center;

}

.contact-button {
    width: 125px;
    height: 40px;
    border-radius: 4px;
    font-size: large;
    gap: 16px;
    background-color: rgb(42, 54, 71);
    color: rgb(255, 255, 255);
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
}

.contact-button:hover {
    cursor: pointer;
    background-color: rgb(41, 171, 226);
}