body {
    margin: 0;
    width: 1440px;
    height: 1024px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 96px;
    box-shadow: 0 2px 4px rgba(224, 225, 226, 0.5);
}

.header-pictures-container {
    width: 104px;
    height: 56px;
    gap: 16px;
    align-items: center;
}