<img class="sidebarLogo" src="img\sidebar\joinLogoWhite.png" alt="">
<div class="sidebarMenuContainer">
    <div class="sidebarMenuButton">
        <img src="img\sidebar\iconSummery.png" alt="Summery">
        <p>Summery</p>
    </div>
    <div class="sidebarMenuButton">
        <img src="img\sidebar\iconAddTask.png" alt="Add Task">
        <p>Add Task</p>
    </div>
    <div class="sidebarMenuButton">
        <img src="img\sidebar\iconBoard.png" alt="Board">
        <p>Board</p>
    </div>
    <div class="sidebarMenuButton">
        <img src="img\sidebar\iconContacts.png" alt="Contacts">
        <p>Contacts</p>
    </div>
</div>
<div>
    
</div>