<img class="sidebarLogo" src="img\sidebar\joinLogoWhite.png" alt="">
<div class="sidebarMenuContainer">
    <a href="summary.html" class="sidebarMenuButton">
        <img src="img\sidebar\iconSummery.png" alt="Summery">
        <p>Summery</p>
    </a>
    <a href="add_task.html" class="sidebarMenuButton">
        <img src="img\sidebar\iconAddTask.png" alt="Add Task">
        <p>Add Task</p>
    </a>
    <a href="board.html" class="sidebarMenuButton">
        <img src="img\sidebar\iconBoard.png" alt="Board">
        <p>Board</p>
    </a>
    <a href="contacts.html" class="sidebarMenuButton">
        <img src="img\sidebar\iconContacts.png" alt="Contacts">
        <p>Contacts</p>
    </a>
</div>
<div class="sidebarFooter">
    <a href="privacypolicy.html">Privacy Police</a>
    <a href="legalnotice.html">Legal notice</a>
</div>