<img class="sidebarLogo" src="img\sidebar\joinLogoWhite.png" alt="">
<div class="sidebarMenuContainer">
    <a href="summary.html" class="sidebarMenuButton">
        <div class="sidebarButton">
            <img src="img\sidebar\iconSummery.svg" alt="Summery">
            <p>Summery</p>
        </div>
    </a>
    <a href="add_task.html" class="sidebarMenuButton">
        <div class="sidebarButton">
            <img src="img\sidebar\iconAddTask.svg" alt="Add Task">
            <p>Add Task</p>
        </div>
    </a>
    <a href="board.html" class="sidebarMenuButton">
        <div class="sidebarButton">
            <img src="img\sidebar\iconBoard.svg" alt="Board">
            <p>Board</p>
        </div>
    </a>
    <a href="contacts.html" class="sidebarMenuButton">
        <div class="sidebarButton">
            <img src="img\sidebar\iconContacts.svg" alt="Contacts">
            <p>Contacts</p>
        </div>
    </a>
</div>
<div class="sidebarFooter">
    <a href="privacypolicy.html">Privacy Police</a>
    <a href="legalnotice.html">Legal notice</a>
</div>